<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Demo</title>

    <link href="http://code.ionicframework.com/1.0.0-beta.4/css/ionic.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/1.0.0-beta.4/js/ionic.bundle.js"></script>
    <script src="http://code.ionicframework.com/1.0.0-beta.4/js/ionic.bundle.js"></script>
    <script src="script.js"></script>
    
  </head>

  <body ng-app="ionicApp">
                
    <ion-nav-view></ion-nav-view>

    <script id="templates/sign-in.html" type="text/ng-template">
      <ion-view view-title="Sign-In">

        <div class="content has-header">
          <img class="jivo-logo" src="logo.png">
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="user.username">
            </label>

            <label class="item item-input">
              <input type="text" placeholder="Пароль" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">ВОЙТИ</button>
            <a class="button button-clear button-full button-positive" href="#/forgot-password">Забыли пароль</a>
          </div>

        </div>

      </ion-view>
    </script>
    
    <script id="templates/chatlist.html" type="text/ng-template">
      <ion-view view-title="Chatlist">
      
        <div class="bar bar-header bar-dark">
          <h1 class="title">Клиенты</h1>
        </div>
        
        <ion-content class="has-header">
          <div class="list">
          
            <div ng-repeat="item in items">
              <div class="item jivo-divider">
                {{item.title}} <span class="jivo-badge gray">{{item.count}}</span>
              </div>
              <a class="item jivo-item" ng-repeat="detail in item.details" ng-class="detail.count ? 'hasIcon' : ''">
                 <div class="jivo-content">
                   <div class="jivo-title" ng-class="detail.count ? 'boldText' : ''">{{detail.title}}</div>
                   <div class="jivo-text">
                              <div>{{detail.time}} {{detail.text}}</div> 
                   </div>
                   <div class="jivo-badge" ng-class="detail.badge">{{detail.count}}</div>
                   <div class="jivo-arrow"></div>
                 </div>
              </a>                           
            </div>            
          </div>
        </ion-content>
        
        <div class="bar bar-footer bar-stable">
          <button class="button button-clear button-positive" ng-click="signOut()">Выход</button>
          <div class="h1 title"><img class="jivo-footer-image" src="logo.png" /></div>
          <div style = "position: absolute;top: 5px;right: 5px;bottom: 5px;">
          <label class="toggle toggle-balanced">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
          </div>
          <!--button class="button button-icon icon ion-navicon"></button-->
        </div>
      </ion-view>
    </script>

  </body>
</html>