<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Demo</title>

    <link href="http://code.ionicframework.com/1.0.0-beta.4/css/ionic.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="http://code.ionicframework.com/1.0.0-beta.4/js/ionic.bundle.js"></script>
    <script src="http://code.ionicframework.com/1.0.0-beta.4/js/ionic.bundle.js"></script>
    <script src="script.js"></script>
    
  </head>

  <body ng-app="ionicApp">
                
    <ion-nav-view></ion-nav-view>

    <script id="templates/sign-in.html" type="text/ng-template">
      <ion-view view-title="Sign-In">
        <div class="content has-header">
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="user.username">
            </label>
            <br>
            <label class="item item-input">
              <input type="text" placeholder="Пароль" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">ВОЙТИ</button>
            <a class="button button-clear button-full button-positive">Забыли пароль</a>
          </div>

        </div>
      </ion-view>
    </script>
    
    <script id="templates/chatlist.html" type="text/ng-template">
      <ion-view view-title="Chatlist">
      
        <div class="bar bar-header bar-dark">
          <h1 class="title">Клиенты <span class="badge badge-assertive">3</span> </h1>
        </div>
        
        <ion-content class="has-header">
          <div class="list">
            <div class="item jivo-divider">
              Запросы чата <span class="badge">2</span>
            </div> 
            
            <a class="item jivo-item item-icon-right" >
               <h2>Нижний новгород, 1234</h2>
               <p>11:41 Явно абсурдный вопрос, который стоит блокировать</p>
               <span class="badge badge-assertive">2</span>
               <i class="icon ion-chevron-right"></i>
            </a>
            
            <a class="item jivo-item item-icon-right" >
               <h2>Гость, 1235</h2>
               <p>11:41 Явно абсурдный вопрос, который стоит блокировать</p>
               <span class="badge badge-assertive">2</span>
               <i class="icon ion-chevron-right"></i>
            </a>
          
            <div class="item jivo-divider">
              Диалоги <span class="badge badge-stable">10</span>
            </div> 
            
            <a class="item jivo-item item-icon-right" >
               <h2>Нижний новгород, 1234</h2>
               <p>11:41 Явно абсурдный вопрос, который стоит блокировать  Явно абсурдный вопрос</p>
               <div class = "container">
               <span class="badge badge-assertive">2</span>
               </div>
               <i class="icon ion-chevron-right"></i>
            </a>
            
            <a class="item jivo-item item-icon-right" >
               <h2>Гость, 1235</h2>
               <p>11:41 Явно абсурдный вопрос, который стоит блокировать</p> 
               <i class="icon ion-chevron-right"></i>
               <span class="badge badge-assertive center-content">2</span>
            </a>
          </div>
        </ion-content>
        
        <div class="bar bar-footer bar-stable">
          <button class="button button-clear button-positive" ng-click="signOut()">Выход</button>
          <div class="h1 title">JivoSite</div>
          <div style = "position: absolute;top: 5px;right: 5px;bottom: 5px;">
          <label class="toggle toggle-balanced">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
          </div>
          <!--button class="button button-icon icon ion-navicon"></button-->
        </div>
      </ion-view>
    </script>

    <script id="templates/forgot-password.html" type="text/ng-template">
      <ion-view view-title="Forgot Password">
        <ion-content padding="true">
          <p>
            Это всего лишь демка
          </p>
          <p>
            There's no username/password, just click
            the Sign-In button back a the sign-in view.
          </p>
          <p>
            Return to <a href="#/sign-in">Sign-In</a>.
          </p>
        </ion-content>
      </ion-view>
    </script>

  </body>
</html>